@import "tailwindcss";


.box-shadow{
    box-shadow: 0px 0px 40px 60px rgb(0,0,0,0.8);
}
.show{
    display: none;
}
.card:hover .show{
    display: block;
}
.card:hover .hide{
    margin-bottom: 20px;
}